:root{
    --prinary-color:blue;
    --bg-color:#f4f4f6;
}

body{
    font-family: 'poppins',sans-serif;
    background-color: var(--prinary-color);
   margin: 0;
    padding: 20px;

   
}
header{
      background: linear-gradient(to right,#3a7bd5,#2f6db3);
      color: white;
      padding: 25px;
      border-radius: 8px;
      margin-bottom: 20px;


}
  main {
    background: white;
    padding: 20px;
      border-radius: 8px;
    margin-bottom: 20px;
 
  }
  footer {
    background: linear-gradient(to right,#3a7bd5,#2f6db3);
    text-align: center;
    padding: 10px;
    background: #ddd;
         
    
  }
