.navbar{
  width: 100%;
  background: white;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pop{
  color:#2563eb;
}
.nav-center{
  display: flex;
  gap: 30px;

}
.nav-right{
  margin-right: 20px;
}
.nav-center a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.2s;

}
.nav-center a:hover{
  color: var(--primary);

}
.active-link{
  color: var(--primary);
  border-bottom: 2px solid
   var(--primary);
}
:root{
        --primary:#2b6cb0;
        --primary-darker:#1e3a8a;
        --prinary-color:rgb(220, 212, 212);
        --bg-color:#f4f4f4;
        --primary-color: #3b82f6;
         --primary-dark: #2563eb;
         --primary-hover:#1d4ed8;
   --text-color: #ffffff;
   --border-color: #3b82f6;
   --disabled-color: #9ca3af;
   --primary-active:#1e40af;
   
    }
    
    body{
        font-family: 'poppins',sans-serif;
        background-color: var(--prinary-color);
        color:black;
        padding: 20px;
       font-family: Arial, sans-serif;
       background: #f3f4f6;
      }
      .container {
  padding: 20px;
}
     header{
        color: black;
        background: #4facfe;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 25px;
     }
     .btn {
      background-color: #2b6cb0;
      color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
     }
     
   .btn-primary {
  background: var(--primary-color);
  color:white;
  transition: 0.2s ease;
}
 .btn-primary:hover,
.btn-primary.hover {
  background: var(--primary-dark);
  color: white;

} 
      .btn-primary:active,
.btn-primary.active {
  background-color: var(--primary-hover);
  transform: scale(0.95);
}
  .btn:disabled {
  background: var(--disabled-color);
  cursor: not-allowed;
}
   .btn-secondary {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: 0.2s ease;
  border: 2px solid;
} 
     .btn-secondary:hover,
.btn-secondary.hover {
  background: var(--primary-dark);
  color: white;
} 
   .btn-secondary:active,
.btn-secondary.active {
  background-color: var(--primary-hover);
  transform: scale(0.95);
}
    
 .btn-secondary:disabled {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  cursor: not-allowed;
  color: white;
  opacity: 0.6;
  background: transparent;
}

    .row {
  margin: 20px 0;
}



     main{
        background-color: #f5f5f5;
        padding:20px;
       border-radius: 8px;
        margin-bottom: 20px;
      }
     
     footer{
        text-align: center;
        padding: 20px;
        background: #4facfe;
     }
